@media screen and (max-width:576px) {

    .navber,
    .banner-section {
        margin-top: 50px;
    }

    .change-habit-section,
    .banner-section {
        margin-bottom: 50px;
    }

    .nav-items,
    .banner-section {
        flex-direction: column;
        gap: 100px;
    }

    .nav-items {
        display: none;
    }

    .menu-container {
        display: block;
    }

    .banner-content {
        max-width: 100%;
    }

    .banner-title {
        max-width: 285px;
        font-size: 2.4rem;
    }

    .video-tutorial {
        width: 155px;
        right: 180px;
        bottom: 250px;
        padding: 10px;
    }

    .video-tutorial h3 {
        font-size: 1rem;
    }

    .video-tutorial p {
        font-size: 0.8rem;
    }

    .work-out {
        width: 155px;
        left: 200px;
        top: 50px;

        padding: 10px;
    }

    .work-out h1 {
        font-size: 1.8rem;
    }

    .work-out p {
        font-size: 0.8rem;
    }

    .habit-container {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        gap: 30px;
    }

    .recovery-section {
        flex-direction: column;

    }

    .recovery-content {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .recovery-image-container {
        max-width: 100%;
    }

    .recovery-image {
        width: 100%;
        height: auto;
    }

    .team-image-container {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
    .row-one {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .row-two {
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
    .hide{
        display: none;
    }
    .bmi-container{
        flex-direction: column;
        gap: 40px;
    }
    
}

@media screen and (min-width:577px) and (max-width:768px) {
    .banner-section {
        flex-direction: column;
        gap: 100px;
    }

    .habit-container {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 30px;
    }

    .recovery-content {
        max-width: 263px;
        margin-left: 20px;

    }

    .team-image-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .row-one {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .row-two {
        display: grid;
        grid-template-columns:repeat(3,1fr);
    }
    .bmi-container{
        flex-direction: column;
        gap: 60px;
    }

}